{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}
    <div style = "margin :10px; margin-left: 0;"><a href = "/admin/question"><button class="btn btn-dark" align = "right">Go Back to all question</button></a><br></div>
    {{ form_start(form, {  'name':'CustomValid','method': 'POST'}) }}
    {{ form_errors(form) }}
    {{ form_row(form.Text, { 'label' : 'Text question' }) }}
    <br>
        {% for option in form.questionOptions %}
            Ответ :
            {{ form_widget(option.IsValid, { 'required' : false }) }}
            {{ form_widget(option.Text, { 'placeholder' : 'Input you option here' }) }}
            <br>
        {% endfor %}
    {{ form_widget(form.save, {attr: {class: 'btn'}}) }}
    {{ form_end(form) }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('[type=radio]').click(function() {
           clearForm();
            $(this).prop('checked', true);
        });

        function clearForm(){
            $('[type=radio]').each(function(){
                $(this).prop('checked', false);
            });
        }
        $(document).ready(function() {
            clearForm();
            $('[type=radio]:first').prop('checked', true);
        });
    </script>
{% endblock %}
