{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block body %}



    {{ form_start(form, {  'name':'CustomValid','method': 'POST'}) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.IsActive) }}
    {% if (questions) %}
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th width="5%">Index</th>
                <th>Text</th>
                <th width = "7%" data-orderable="false">Edit</th>
                <th width = "7%" data-orderable="false">Delete</th>
            </tr>
            </thead>

            {% for question  in questions %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ question.Text }}</td>
                    <td><a href = "/admin/question/edit/{{ question.id }}">Edit</a></td>
                    <td>Delete</td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <th>Index</th>
                <th>Text</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </tfoot>
        </table>
    {% else %}
    Not found questions for this quiz
    {% endif %}
    {{ form_row(form.question) }}
    {{ form_end(form) }}

    </div>

    <script>
        $(document).ready(function() {
            $('.selectpicker').selectpicker();
        } );

    </script>

{% endblock %}
