{% extends "base.html.twig" %}

{% block body %}
    {% for itemquiz in quiz %}
        <p>{{ itemquiz.quiz.name }} |
            {% trans %}
                quiz.gameCount
            {% endtrans %}
            : {{ itemquiz.gameCount }}</p>
        <p>{{ itemquiz.quiz.description }}</p>
        {% for leader in itemquiz['leaders'] %}
            <p>{% trans %}quiz.leader{% endtrans %}: {{ leader.username }} - {{ leader.score }}</p>
        {% endfor %}
        {% if itemquiz.quiz.isActive %}
            <a class="btn btn-success" href={{ path("quizGame", {'id':itemquiz.quiz.id}) }}>{% trans %}quiz.start{% endtrans %}</a>
        {% else %}
            <button type="button" class="btn btn-success" href={{ path("quizGame", {'id':itemquiz.quiz.id}) }} disabled>{% trans %}quiz.start{% endtrans %}</button>
        {% endif %}
        <hr>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(quiz) }}
    </div>
{% endblock %}