{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th width = "5%">ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Lastname</th>
                <th>Role</th>
                <th>Email</th>
                <th width = "6%">IsActive</th>
                <th width = "6%" data-orderable="false">Delete</th>
                <th width = "6%" data-orderable="false">Edit</th>
            </tr>
        </thead>
        {% for key  in users %}
        <tr>
            <td><a href = "/admin/user/{{ key.id }}">{{ key.id }}</a></td>
            <td>{{ key.username }}</td>
            <td>{{ key.name }}</td>
            <td>{{ key.surname }}</td>
            <td>{{ key.lastname }}</td>
            <td><ROLE></ROLE></td>
            <td>{{ key.Email }}</td>
            <td>{{ key.IsActive }}</td>
            <td><i class="fa fa-trash fa-6" aria-hidden="true"></i></td>
            <td><i class="fa fa-pencil-square fa-6" aria-hidden="true"></i></td>
        </tr>
        {% endfor %}
        <tfoot>
        <tr>
            <th width = "5%">ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Lastname</th>
            <th>Role</th>
            <th>Email</th>
            <th width = "6%">IsActive</th>
            <th width = "6%" data-orderable="false">Delete</th>
            <th width = "6%" data-orderable="false">Edit</th>
        </tr>
        </tfoot>
    </table>
    <script>
        $(document).ready(function() {
            $('#example').DataTable(
                {
                    "lengthMenu": [[10, 25, 50], [10, 25, 50]]
                }
            );
        } );
    </script>
    
{% endblock %}
